.tooltip-btn button{
    @apply active:text-secondaryLight dark:active:text-secondaryDark hover:text-secondaryLight dark:hover:text-secondaryDark focus-within:text-secondaryLight dark:focus-within:text-secondaryDark active:bg-primaryLight hover:bg-primaryLight focus-within:bg-primaryLight p-3 rounded-md w-10 h-10 flex items-center justify-center transition-all;
}
@keyframes splash {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    to {
        transform: scale(1, 1);
    }
}
h1,
h2,
h3,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  animation: splash 1s ease-in-out normal forwards;
}

